body {
    color: white;
    background-image: linear-gradient(rgb(24, 24, 24), black, rgb(24, 24, 24));
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.program {
    max-width: fit-content;
    margin-inline: auto;
}

.table {
    width: 800px;
    text-align: left;
}

th, td {
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
  }

th {
    background-color: gray;
}

tfoot {
    text-align: right;
}

input {
    text-align: right;
}

tr:hover {
    background-color: gray;
}
